<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/test_icon"
        android:label="Movie Ratings"
        android:roundIcon="@drawable/test_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RatingsList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Ratings List"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".ReportScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Report Screen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".NewPageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>